<h1> Public art in SF </h1>
<ul>
<% @locations.each do |location|%>
  <% unless location["title"] == "title" %>
    <li> <%= location["title"] %> || <%= location["location_description"] %> || <%= location["artist"] %> || <%= link_to "Details", location_path(id = location["_id_"]) %> </li>
  <% end %>

<% end %>
</ul>